body {
  margin: 0;
  font-family: Arial, Verdana;
  color: white;
  background-color: black;
  margin: 20px, 0px;
}

.introduction {
  border-radius: 15px;
  margin-top: 15px;
  line-height: 2;
}

.red {
  background-color: #FF0000;
  text-align: right;
  margin-left: 50px;
  border-bottom: 2px solid white;
  border-left: 5px solid white;
}

.blue h2, .blue p {
  color: #C4C4C4;
}
.blue {
  background-color: #0800ff;
  text-align: left;
  margin-right: 50px;
  border-right: 5px solid white;
  border-top: 2px solid white;
}

.green {
  background-color: #048204;
  text-align: left;
  margin-right: 50px;
  border-right: 5px solid white;
  border-top: 2px solid white;
}

footer {
  border: solid white 5px;
}

footer p {
  text-align: right;
  font-size: 20px;
  padding: 15px, 0px, 15px, 15px;
}

.yellow {
  background-color: #eeff00;
  text-align: right;
  margin-left: 50px;
  border: 0px, 5px, 2px, 0px solid white;
  color: #707070;
}

img {
  width: 250px;
  display: block;
  margin: auto;
  border: dashed white 10px;
}

h2 {
  color: #0D0D0D;
}

p {
  font-size: 24px;
  padding: 10px, 10px, 0px, 0px;
}

div {
  max-height: 200px;
  padding: 20px;
  border: solid white;
}

h1 {
  font-size: 42px;
  padding: 15px;
  text-align: center;
}